*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{

background:#0f172a;
color:white;

}

header{

height:100vh;

}

nav{

display:flex;
justify-content:space-between;
padding:20px 10%;
background:#111827;

position:fixed;
width:100%;

}

nav h2{

color:#38bdf8;

}

nav ul{

display:flex;
gap:30px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

display:flex;
justify-content:space-around;
align-items:center;

height:100vh;

padding:100px;

}

.hero img{

width:320px;
border-radius:50%;
border:6px solid #38bdf8;

box-shadow:0 0 30px cyan;

animation:float 4s infinite;

}

@keyframes float{

50%{
transform:translateY(-15px);
}

}

.hero h1{

font-size:55px;

color:#38bdf8;

}

.hero h2{

margin:15px 0;

}

.hero p{

width:500px;

margin-bottom:30px;

}

.btn{

padding:14px 35px;

background:#38bdf8;

color:white;

text-decoration:none;

border-radius:30px;

font-weight:bold;

transition:.3s;

}

.btn:hover{

background:white;

color:#111827;

}

section{

padding:90px 10%;

}

section h2{

font-size:40px;

margin-bottom:40px;

text-align:center;

color:#38bdf8;

}

.card,.project{

background:#1e293b;

padding:25px;

margin:20px;

border-radius:15px;

transition:.4s;

}

.card:hover,.project:hover{

transform:translateY(-10px);

}

.skill{

margin:25px 0;

}

.bar{

background:#374151;

height:12px;

border-radius:20px;

overflow:hidden;

}

.bar span{

display:block;

height:100%;

background:#38bdf8;

}

.strength{

display:flex;

justify-content:center;

gap:40px;

font-size:20px;

flex-wrap:wrap;

}

footer{

background:#111827;

text-align:center;

padding:20px;

margin-top:60px;

}

@media(max-width:768px){

.hero{

flex-direction:column-reverse;

text-align:center;

padding:20px;

}

.hero p{

width:100%;

}

.hero img{

width:220px;

margin-bottom:20px;

}

nav{

flex-direction:column;

gap:10px;

}

nav ul{

justify-content:center;

}

}
